@import url(https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100&display=swap);

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #5b6677;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.sidebar {
    position: relative;
    width: 256px;
    display: flex;
    height: 100vh;
    background-color: #ffff;
    flex-direction: column;
    padding: 24px;
    /* border-radius: 30px; */
    transition: all 0.3s;
}

.sidebar .head {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
}

.user-img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}

.user-img img {
    width: 100%;
    object-fit: cover;
}

.user-details .title,
.manu .title {
    font-size: 10px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
}

.menu .title {
    font-size: 10px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
}

.menu ul li {
    position: relative;
    list-style: none;
    margin-bottom: 5px;
}
.menu ul li a{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 14px;
    color: #757575;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s;
}
.menu ul li a:hover,.menu ul li:active > a{
    color: #000;
    background-color: #f6f6f6;
}
.menu ul li .icon{
    font-size: 20px;
}
.menu ul li .text{
    flex: 1;
}
.menu ul li .arrow{
    font-size: 14px;
}
.menu ul li.active .arrow{
    transform: rotate(180deg);
}
.menu .sub-menu{
    display: none;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #f6f6f6;
}
.menu .sub-menu li a{
    padding: 10px 8px;
    font-size: 12px;
}
.menu:not(:last-child){
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f6f6f6;
}
.nav{
    flex: 1;
}
.menu-btn{
    position: absolute;
    right: -14px;
    top:3.5%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #757575;
    border: 2px solid #f6f6f6;
    background-color: #ffff;
}
.menu-btn:hover i{
    color: #000;
} 
.menu-btn i{
    transition: all 0.3s;
}
.sidebar.active{
    width: 92px;
}
.sidebar.active .menu-btn i{
    transform: rotate(180deg);
}
.sidebar.active .user-details{
    display: none;
}
.sidebar.active .menu .title{
    text-align: center;
}
.sidebar.active .menu ul li .arrow{
    display: none;
}
.sidebar.active .menu >ul >li> a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar.active .menu >ul>li>a .text{
    position: absolute;
    left: 70px;
    top:50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    visibility: hidden;
}
.sidebar.active .menu > ul > li > a .text::after{
    content: "";
    position: absolute;
    left: -5px;
    top:20%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #000;
    transform: rotate(45deg);
    z-index: -1;
}
.sidebar.active .menu > ul > li> a:hover .text{
    left:50px;
    opacity: 1;
    visibility: visible;
}
.sidebar.active .menu .sub-menu{
    position: absolute;
    top: 0;
    left: 20px;
    width: 200px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #f6f6f6;
    background-color: #fff;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}